h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.container{
  width: 1158px;
}
img {
  display: block;
}
button{
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}
ul {
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  padding: 0 auto;
}
body {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
}
h3 {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}
body b {
  font-size: 20px;
  color: #2e2f42;
}
body p {
  font-display: #434455;
  font-size: 16px;
}

.logo-web {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 1.125em;
  font-style: normal;
  letter-spacing: 3%;
  line-height: 1.3em;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 1.125em;
  font-style: normal;
  letter-spacing: 3%;
  line-height: 1.3em;
  text-decoration: none;
  color: #2e2f42;
}
.logo-studio-footer {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.3em;
  text-decoration: none;
  color: #f4f4fd;
}
.or-ser-button {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  padding: 1rem, 2rem;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.or-ser-button:hover {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  padding: 1rem, 2rem;
  border-radius: 4px;
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}
.service-info-sec {
  display: flex;
  padding: 120px 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.service-info {
  display: flex;
  list-style: none;
  padding-bottom: 120px;
  margin: 0;
  gap: 24px;
}

.service-info li {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.5rem;
  color: #2e2f42;
  text-align: center;
}

.service-info-sec-container p {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  width: 264px;
  height: 104px;
  text-align: left;
  color: #434455;
}

.service-item {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding-top: 120px;
  text-align: left;
}

h1 {
  font-family: "Roboto", "sans-serif";
  background-color: #2e2f42;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  max-width: 496px;
}
.main-menu li a {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  color: #2e2f42;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  width: 200px;
}
.main-menu li a:hover {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  color: #404bbf;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  display: inline;
}
.class-studio:active {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  color: #404bbf;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  list-style-type: none;
  display: flex;
  text-decoration: none;
}
.contact a {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #434455;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.contact a:hover {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #404bbf;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  text-decoration: none;
}
.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-left: 156px;
  padding-top: 100px;
}
.footer-info {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #e7e9fc;
}
.our-team-h2{
  padding-bottom: 72px;
  padding-top: 120px;
  text-align: center;
}
.our-team-container {
  background-color: #f4f4fd;
  display: block;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 732px;
}
.our-team-h2 ul {
  display: flex;
  align-items: center;
  padding-top: 72px;
}
.our-team-container p{
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #434455;
  line-height: 24px;
  letter-spacing: 2%;
}
.our-team-container b{
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: 2%;
}
.header-container {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 72px;
}
.our-portfolio-container {
  text-align: center;
  padding-top: 120px;
  text-align: left;
  margin-bottom: 120px;
}
.second-portfolio{
  padding-top: 48px;
}
.our-h2 {
  display: block;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 72px;
}
.our-portfolio ul {
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-flex{
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-container p{
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}
.effective-button-container {
  background-color: #2e2f42;
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-menu {
  display: flex;
  list-style: none;
  padding-right: 10px;
}
.main-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.logo-webstudio {
  margin-left: 40px;
}
.contact {
  display: inline;
  margin-right: 40px;
}
.banking-1 {
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.cashless-2 {
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.meditation-3 {
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.taxi-4 {
  box-sizing: border-box;
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.screen-5 {
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.online-6 {
  border: 1px;
  width: 360px;
  height: 420px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
}
.mark-1 {
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.tom-2 {
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.camila-3 {
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.dani-4 {
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.banking-2 {
  width: 360px;
  height: 120px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  gap: 8px;
  padding: 32px 16px 32px 16px;
  margin: 0;
}
.team-info{
  padding-top: 32px;
  flex-direction: column;
  justify-content: center;
}